*{
	margin: 0;
	padding: 0;
	list-style: none;
}
html{
	font-size: 62.5%;
}
#myBook{
	position: absolute;
	display: block;
	width: 13rem;
	height: 4rem;
	border: 1px solid #9ca1a1;
	box-sizing: border-box;
	line-height: 4rem;
	background-color: #807783;
	text-decoration: none;
	color: #fff;
	right: 0;
	text-align: center;

} 
#myBook:hover{
	border: none;
	background-color: #bc0000;
	color: aliceblue;
}
#swiperOne{
	width: 100%;
	--swiper-theme-color: #bc0000;/* 设置按钮选中颜色以及箭头颜色 */
	--swiper-navigation-color: #9ca1a1;/* 单独设置箭头颜色*/
	--swiper-navigation-size: 4rem;/*设置按钮大小*/
	}
.swiper-slide img{
	width: 100%;
}
#swpOne{
	width: 100%;
	height: 3rem;
	display: flex;
	justify-content: space-evenly;

}
#swpOne span{
	height: 100%;
	line-height: 3rem;
	width: 25%;
	border-radius: 0;
	color: aliceblue;
}
#swiperTwo{
	width: 400px;
	height: 200px;
	--swiper-theme-color: #bc0000;/* 设置Swiper风格 */
	--swiper-navigation-color: #9ca1a1;/* 单独设置按钮颜色 */
	--swiper-navigation-size: 20px;/*设置按钮大小*/
}
#swiperTwo img{
	margin-top: 50px;
}
} */